*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* You are not to delete the existance code */



/* header Starts here */


/* header Ends here */



/* Footer Starts here */


/* Footer Ends here */